@model IEnumerable<AsyncInn.Models.Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>
<link href="~/StyleSheet.css" rel="stylesheet" />
<h1>Index</h1>
<h3>There are currently @Model.Count() hotels.</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div>
    <form method="post">
        <label name="NameEntered">Filter by Hotel Name</label>
        <input name="NameEntered"/>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Rooms available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.Count(); i++)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ElementAt(i).Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ElementAt(i).Phone)
            </td>

            <td>
                @*@ViewBag.RoomCount[i]*@ @* figure out how to implement viewbag*@
                0
            </td>
       
            <td>
                <a asp-action="Edit" asp-route-id="@Model.ElementAt(i).ID">Edit</a> |
                <a asp-action="Details" asp-route-id="Model.ElementAt(i).ID">Details</a> |
                <a asp-action="Delete" asp-route-id="Model.ElementAt(i).ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
