@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<!DOCTYPE html>
<link href="~/StyleSheet.css" rel="stylesheet" />
<h1>List of current rooms with amenities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amenity.Name)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { item.RoomID, item.AmenitiesID })
                </td>
            </tr>
        }
    </tbody>
</table>
